@mixin loading-overlay {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after {
    animation: spinAround 500ms infinite linear;
    border: 2px solid #000;
    border-radius: 5em;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    position: relative;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}

.box {
  transition: opacity 200ms ease;
  &.is-loading {
    @include loading-overlay;
  }
}

.table {
  transition: opacity 200ms ease;
  &.is-loading {
    @include loading-overlay;
  }
}
