@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(0 3px 0.25rem rgba(0, 0, 0, 0.2));

  .avatar {
    position: absolute;
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 193, 7);
    color: rgb(255, 255, 87);
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: opacity 250ms ease;
  }

  .avatar-loading {
    position: absolute;
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .spinner {
      animation: spin 800ms linear 0s infinite;
      height: 2rem;
      g {
        .primary {
          fill: rgb(67, 200, 241);
        }
        .secondary {
          fill: rgba(67, 200, 241, 0.3);
        }
      }
    }
  }

  .avatar-uploading {
    position: absolute;
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.progress-ring {
  position: absolute;
  left: 0;
  top: 0;
  .progress-ring-circle {
    stroke: rgb(67, 200, 241);
    fill: transparent;
    stroke-width: 0;
    stroke-dasharray: 10 20;
    transition: all 0.3s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;

    &.visible {
      stroke-width: 5;
    }
  }
}

.invisible {
  opacity: 0;
}
