.pagination-link {
  text-align: center;
  padding: 5px 10px 5px;
  display: block;
  cursor: pointer;
}

.pagination-next {
  text-align: center;
  display: block;
  padding: 5px 10px 5px;
  cursor: pointer;
}

.pagination-previous {
  text-align: center;
  display: block;
  padding: 5px 10px 5px;
  cursor: pointer;
}

.pagination-summary {
  padding-left: 10px;
}
