<nav class="pagination"
     role="navigation"
     *ngIf="totalItems > 0">

  <ng-container *ngIf="currentPage > 1 && lastPageNumber > 1">
    <button class="pagination-previous"
            type="button"
            (click)="goToPage(1)">
      First
    </button>
  </ng-container>

  <button class="pagination-previous"
          type="button"
          (click)="goToPage(currentPage - 1)"
          [disabled]="!canGoPrevious">
    Previous
  </button>

  <button class="pagination-next"
          type="button"
          (click)="goToPage(currentPage + 1)"
          [disabled]="!canGoNext">
    Next
  </button>

  <ng-container *ngIf="currentPage !== lastPageNumber && lastPageNumber > 1">
    <button class="pagination-next"
            type="button"
            (click)="goToPage(lastPageNumber)">
      Last
    </button>
  </ng-container>

  <ul class="pagination-list">
    <li>
      <button class="pagination-link"
              [ngClass]="{'is-current': currentPage === buttonOneNumber}"
              type="button"
              (click)="goToPage(buttonOneNumber)">
        {{buttonOneNumber}}
      </button>
    </li>
    <li *ngIf="this.lastPageNumber > 1">
      <button class="pagination-link"
              type="button"
              [ngClass]="{'is-current': currentPage === buttonTwoNumber}"
              (click)="goToPage(buttonTwoNumber)">
        {{buttonTwoNumber}}
      </button>
    </li>
    <li *ngIf="this.lastPageNumber > 2">
      <button class="pagination-link"
              type="button"
              [ngClass]="{'is-current': currentPage === buttonThreeNumber}"
              (click)="goToPage(buttonThreeNumber)">
        {{buttonThreeNumber}}
      </button>
    </li>
    <li>
      <span class="pagination-summary">
        Page {{currentPage}} of {{lastPageNumber}}
      </span>
    </li>
  </ul>
</nav>