<ng-container *ngIf="data.length > 0; else noData">

  <!--#region: drop downs-->
  <div class="control"
       style="margin-bottom: 10px"
       *ngIf="enableColumnSelection">
    <div class="field is-grouped">
      <div class="control">
        <label class="label">Add Column</label>
        <select (change)="addSelectedColumn($event.target.value)"
                [disabled]="isLoading"
                class="input">
          <option [value]="null">--</option>
          <ng-container *ngFor="let mapping of columnMappings">
            <option *ngIf="!isColumnSelected(mapping)"
                    [value]="mapping.property">{{ mapping.heading }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="control">
        <label class="label">&nbsp;</label>
        <button class="button"
                type="button"
                (click)="clearSelections()">
          Clear
        </button>
      </div>
    </div>
  </div>
  <!--#endregion: drop downs-->

  <!--#region: table-->
  <div class="box"
       [ngClass]="{'is-loading': isLoading}">
    <div class="table-wrapper">
      <table class="table"
             style="margin-bottom: 10px"
             [ngClass]="{'is-fullwidth': isFullWidth}">
        <thead>
          <tr>
            <ng-container *ngIf="staticColumns">
              <th *ngFor="let sc of selectedColumns">
                {{ sc.heading }}
              </th>
            </ng-container>
            <ng-container *ngIf="!staticColumns">
              <th *ngFor="let sc of selectedColumns; index as i"
                  style="padding-left: 0; padding-right: 0">
                <div class="field has-addons">
                  <div class="control"
                       *ngIf="i > 0">
                    <a class="button is-small"
                       (click)="moveColumnLeft(i)">
                      &lt;
                    </a>
                  </div>
                  <div class="control">
                    <div *ngIf="!enableColumnSelection || sc.sticky"><a class="button is-small">{{ sc.heading }}</a></div>
                    <div *ngIf="enableColumnSelection && !sc.sticky" class="select is-small">
                      <select (change)="onSelectedColumnChange(i, $event.target.value)">
                        <option [value]="sc.property">{{ sc.heading }}</option>
                        <ng-container *ngFor="let mapping of columnMappings">
                          <option *ngIf="!isColumnSelected(mapping)"
                                  [value]="mapping.property">{{ mapping.heading }}
                          </option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                  <div class="control"
                       *ngIf="i < selectedColumns.length - 1">
                    <a class="button is-small"
                       (click)="moveColumnRight(i)">
                      &gt;
                    </a>
                  </div>
                  <div class="control" *ngIf="enableColumnSelection && !sc.sticky">
                    <a class="button is-small"
                       (click)="removeSelectedColumn(sc)">
                      X
                    </a>
                  </div>
                </div>
              </th>
            </ng-container>
            <ng-container *ngFor="let ac of aggregatedColumns">
              <th *ngIf="!ac.hidden">
                {{ ac.heading }}
              </th>
            </ng-container>
            <th *ngIf="enableCustomContent" style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of pageRows">
            <ng-container *ngFor="let column of row">
              <td *ngIf="!column.hidden"
                  [attr.rowspan]="column.rowspan">
                {{ column.value }}
              </td>
            </ng-container>
            <td *ngIf="enableCustomContent">
              <ng-container [ngTemplateOutlet]="template"
                            [ngTemplateOutletContext]="{ $implicit: row } ">
              </ng-container>
            </td>
          </tr>
          <ng-container *ngIf="selectedColumns.length > 0">
            <tr *ngFor="let stickyRow of stickyRows" class="sticky-row">
              <td [attr.colspan]="selectedColumns.length">
                {{ stickyRow.heading }}
              </td>
              <td *ngFor="let value of stickyRow.values">
                {{ value }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <agx-paginator [totalItems]="totalItems"
                   [itemsPerPage]="itemsPerPage"
                   (pageChange)="onPageChange($event)">
    </agx-paginator>
  </div>
  <!--#endregion: table-->
</ng-container>

<ng-template #noData>
  <div class="box is-flex"
       style="min-height: 160px; justify-content: center; align-items: center"
       [ngClass]="{ 'is-loading': isLoading }">
    <h1 class="has-text-centered is-size-5 is-flex"> No data to display</h1>
  </div>
</ng-template>
