@import '../global.scss';

.table-wrapper {
  overflow-x: auto;
}

.table {
  white-space: nowrap;
}

.table th {
  vertical-align: middle;
  font-size: 0.75em;
}

.sticky-row {
  background-color: hsl(206, 70%, 96%);
  font-weight: bold;
}

select {
  font-weight: 600;
}
